html
    head
        title Login
body
    include partials/header
    div#main
        h1 Login
        label(for="username") Username:
        input(type="textbox" id="username" name="username")
        br
        label(for="password") Password:
        input(type="password" id="password" name="password")
        br
        button(class="btn btn-pmm" id="loginButton" onclick="login()") Login
    script  
        include ../public/user-handlers.js