br
footer
    div.row
        div.column(style="padding-top:5px;")
            p Visit Us!
            small 123 Hobbiton, Ave 
            br
            small Shire, Middle Earth
            br
            small 555-555-5555
        div.column(style="padding-top:5px;")
        div.column(style="padding-top:5px;")
            p About
            small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    